<div class="container footer__container">
  <div class="footer__wrapper">
    <div class="footer__left">
      <h2 class="text-reset text text_large-48 text_black text_uppercase footer__title">
        Еще больше полезных материалов и видеоуроков в&nbsp;нашем приложении
      </h2>
      <ul class="list-reset footer__list" itemscope itemtype="http://schema.org/ItemList">
        <li class="footer__item" itemscope itemtype="http://schema.org/MobileApplication">
          <meta itemprop="operatingSystem" content="iOS">
          <meta itemprop="name" content="XPAGE - спортивный портал для iOS">
          <a class="footer__link" href="https://apps.apple.com/us/app/example-app/id123456789" target="_blank"
            itemprop="downloadUrl" aria-label="Скачать в App Store">
            <svg class="footer__icon footer__icon_ios">
              <use xlink:href="img/sprite.svg#ios"></use>
            </svg>
          </a>
        </li>
        <li class="footer__item" itemscope itemtype="http://schema.org/MobileApplication">
          <meta itemprop="operatingSystem" content="Android">
          <meta itemprop="name" content="XPAGE - спортивный портал для Android">
          <a class="footer__link" href="https://play.google.com/store/apps/details?id=com.example.app" target="_blank"
            itemprop="downloadUrl" aria-label="Скачать в Google Play">
            <svg class="mobile-none footer__icon footer__icon_android">
              <use xlink:href="img/sprite.svg#android"></use>
            </svg>
            <svg class="desktop-none footer__icon footer__icon_android">
              <use xlink:href="img/sprite.svg#android-mobail"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
    <div class="footer__right">
      <div class="qrcode footer__qrcode">
        <img class="qrcode__img" src="img/qrcode.webp" alt="qrcode">
        <span class="text text_grey-400 font-second qrcode__text">iOS&nbsp;/ Android</span>
        <h3 class="text-reset text text_small text_black text_uppercase footer__subtitle">
          Наведите камеру устройства на&nbsp;QR-код, чтобы скачать
        </h3>
      </div>
    </div>
  </div>
  <small class="text text_tiny text_black text_uppercase footer__copyright">Сделано в xpage</small>
</div>