<div class="container hero__container">
  <h2 class="visually-hidden">Слайдер с изображениями</h2>
  <div class="swiper hero__swiper">
    <div class="swiper-wrapper hero__wrapper">
      <p
        class="swiper-slide text-reset text text_big text_white text_uppercase hero__title hero__slide hero__slide_bg-1">
        Найди с&nbsp;кем поиграть в&nbsp;баскет
      </p>
      <p
        class="swiper-slide text-reset text text_big text_white text_uppercase hero__title hero__slide hero__slide_bg-2">
        мы&nbsp;найдем секции для детей по&nbsp;всему городу
      </p>
      <p
        class="swiper-slide text-reset text text_big text_white text_uppercase hero__title hero__slide hero__slide_bg-3">
        Далеко-далеко за горами в стране
      </p>
    </div>
    <div class="hero__box">
      <button class="btn-reset text text_black text_uppercase btn btn_white hero__btn" data-slide="0"
        aria-label="Смотреть изображение 1: Двое мужчин играют в баскет">
        играй
        <svg class="hero__arrow">
          <use xlink:href="img/sprite.svg#right-arrow"></use>
        </svg>
      </button>
      <button class="btn-reset text text_black text_uppercase btn btn_white hero__btn" data-slide="1"
        aria-label="Смотреть изображение 2: Дети играют в баскетбол">
        учись
        <svg class="hero__arrow">
          <use xlink:href="img/sprite.svg#right-arrow"></use>
        </svg>
      </button>
      <button class="btn-reset text text_black text_uppercase btn btn_white hero__btn" data-slide="2"
        aria-label="Смотреть изображение 3: Девушки играют в баскетбол">
        смотри
        <svg class="hero__arrow">
          <use xlink:href="img/sprite.svg#right-arrow"></use>
        </svg>
      </button>
    </div>
  </div>

</div>