<div class="container learn__container">
  <div class="learn__wrapper">
    <div class="learn__title-wrap">
      <h2 class="text-reset text text_big text_bold text_black text_uppercase learn__title">
        Учись
      </h2>
      <a class="text text_medium text_uppercase section-link learn__link" href="#">
        в&nbsp;раздел
        <svg class="learn__arrow">
          <use xlink:href="img/sprite.svg#right-arrow"></use>
        </svg>
      </a>
    </div>
    <div class="learn__box">
      <ul class="list-reset learn__list-left">
        <li class="learn__item-left">
          <article class="learn-left learn-left_bg-img learn__article">
            <h3 class="text-reset text text_large-48 text_white text_uppercase learn-left__title">
              мы&nbsp;собрали секции для&nbsp;детей по&nbsp;всему городу
            </h3>
            <a class="link link_btn-white text text_green text_tiny text_uppercase learn-left__link learn-left__link_1"
              href="#">
              12 секций по всему городу
            </a>
          </article>
        </li>
        <li class="learn__item-left">
          <article class="learn-left learn-left_bg-green learn__article">
            <h3 class="text-reset text text_large-48 text_white text_uppercase learn-left__title">
              Подбери тренера под&nbsp;свой уровень
            </h3>
            <ul class="list-reset learn-left__list">
              <li class="learn-left__item">
                <a class="link link_btn-white-20 text text_white text_tiny text_uppercase learn-left__link" href="#">
                  детская тренировка
                </a>
              </li>
              <li class="learn-left__item">
                <a class="link link_btn-white-20 text text_white text_tiny text_uppercase learn-left__link" href="#">
                  для начинающих
                </a>
              </li>
              <li class="learn-left__item">
                <a class="link link_btn-white-20 text text_white text_tiny text_uppercase learn-left__link" href="#">
                  стритбол
                </a>
              </li>
              <li class="learn-left__item">
                <a class="link link_btn-white-20 text text_white text_tiny text_uppercase learn-left__link" href="#">
                  выезд тренера на дом
                </a>
              </li>
              <li class="learn-left__item">
                <a class="link link_btn-white text text_green text_tiny text_uppercase learn-left__link" href="#">
                  12 фильтров
                </a>
              </li>
            </ul>
          </article>
        </li>
      </ul>
      <ul class="list-reset learn__list-right">
        <li class="learn__item-right">
          <article class="learn-right learn__article">
            <a class="text text_medium text_black text_uppercase learn-right__arrow-link" href="#">
              Видеоуроки
              <svg class="learn-right__arrow">
                <use xlink:href="img/sprite.svg#right-arrow"></use>
              </svg>
            </a>
            <div class="learn-right__inner">
              <div class="learn-right__holder">
                <h3 class="text-reset text text_black text_uppercase learn-right__title">
                  Евгений Воронов: «Бронзовые медали - оценка труда нашей команды»
                </h3>
                <a class="link link_btn-desktop-background text text_black text_tiny text_uppercase learn-right__link"
                  href="#">
                  <time datetime="2022-10-26">26 октября</time>
                </a>
              </div>
            </div>
          </article>
        </li>
        <li class="learn__item-right">
          <article class="learn-right learn-right_without-inner learn__article">
            <a class="text text_medium text_black text_uppercase learn-right__arrow-link" href="#">
              статьи
              <svg class="learn-right__arrow">
                <use xlink:href="img/sprite.svg#right-arrow"></use>
              </svg>
            </a>
            <div class="learn-right__holder learn-right__holder_without-inner">
              <h3 class="text-reset text text_black text_uppercase learn-right__title">
                Евгений Воронов: «Бронзовые медали - оценка труда нашей команды»
              </h3>
              <a class="link link_btn-desktop-background text text_black text_tiny text_uppercase learn-right__link"
                href="#">
                <time datetime="2022-10-26">26 октября</time>
              </a>
            </div>
          </article>
        </li>
        <li class="learn__item-right">
          <article class="learn-right learn-right_without-inner-2 learn__article">
            <a class="text text_medium text_black text_uppercase learn-right__arrow-link" href="#">
              термины
              <svg class="learn-right__arrow">
                <use xlink:href="img/sprite.svg#right-arrow"></use>
              </svg>
            </a>
            <h3 class="visually-hidden">Список терминов</h3>
            <ul class="list-reset learn-right__list">
              <li class="learn-right__item">
                <a class="link link_btn-desktop-background text text_black text_tiny text_uppercase learn-right__link"
                  href="#">
                  треха
                </a>
              </li>
              <li class="learn-right__item">
                <a class="link link_btn-desktop-background text text_black text_tiny text_uppercase learn-right__link"
                  href="#">
                  трехочковый бросок
                </a>
              </li>
              <li class="learn-right__item">
                <a class="link link_btn-black text text_white text_tiny text_uppercase learn-right__link" href="#">
                  36 терминов
                </a>
              </li>
            </ul>
          </article>
        </li>
      </ul>
    </div>
  </div>
</div>