<div class="container play__container">
  <div class="play__title-wrap">
    <h2 class="text-reset text text_big text_bold text_black text_uppercase play__title">
      играй
    </h2>
    <a class="text text_medium text_uppercase section-link play__link" href="#">
      в&nbsp;раздел
      <svg class="play__arrow play__arrow_section">
        <use xlink:href="img/sprite.svg#right-arrow"></use>
      </svg>
    </a>
  </div>
  <ul class="list-reset play__list">
    <li class="play__item">
      <article class="play__article play__article_bg-1">
        <div class="play__inner">
          <h3 class="text-reset text text_large text_black text_uppercase play__subtitle">
            Найди себе команду
          </h3>
          <p class="text-reset text text_black text_fw-medium font-second play__text">
            Игры на&nbsp;районе&nbsp;- это возможность найти с&nbsp;кем поиграть в&nbsp;баскетбол в&nbsp;выходные,
            или создать свою игру и&nbsp;пригласить других игроков присоединиться.
          </p>
          <a class="link link_btn-orange text text_uppercase play__btn-link" href="#">
            текст кнопки
            <svg class="play__arrow play__arrow_se">
              <use xlink:href="img/sprite.svg#right-arrow"></use>
            </svg>
          </a>
        </div>
      </article>
    </li>
    <li class="play__item play__item_big">
      <article class="play__article play__article_big play__article_bg-2">
        <div class="play__inner play__inner_big">
          <h3 class="text-reset text text_large text_black text_uppercase play__subtitle play__subtitle_big">
            Создавай команды
          </h3>
          <p class="text-reset mobile-none text text_black text_fw-medium font-second play__text play__text_big">
            Игры на&nbsp;районе&nbsp;- это возможность найти с&nbsp;кем поиграть в&nbsp;баскетбол в&nbsp;выходные,
            или создать свою игру и&nbsp;пригласить других игроков присоединиться.
          </p>
          <p class="text-reset desktop-none text text_black text_fw-medium font-second play__text play__text_big">
            Создавайте команды с&nbsp;друзьями. Делитесь фотографиями, делайте опросы и&nbsp;участвуйте в&nbsp;турнирах.
            Будьте активными и&nbsp;получайте ачивки для вашей команды.
          </p>
          <a class="link link_btn-orange text text_uppercase play__btn-link play__btn-link_big" href="#">
            текст кнопки
            <svg class="play__arrow play__arrow_se">
              <use xlink:href="img/sprite.svg#right-arrow"></use>
            </svg>
          </a>
        </div>
      </article>
    </li>
    <li class="play__item">
      <article class="play__article play__article_bg-3">
        <div class="play__inner">
          <h3 class="text-reset text text_large text_black text_uppercase play__subtitle">
            Участвуй в&nbsp;турнирах
          </h3>
          <p class="text-reset text text_black text_fw-medium font-second play__text">
            Участвуйте в&nbsp;турнирах вместе с&nbsp;вашей командой. Будьте активными, побеждайте и&nbsp;получайте
            ачивки и&nbsp;призы от&nbsp;наших спонсоров.
          </p>
          <a class="link link_btn-orange text text_uppercase play__btn-link" href="#">
            текст кнопки
            <svg class="play__arrow play__arrow_se">
              <use xlink:href="img/sprite.svg#right-arrow"></use>
            </svg>
          </a>
        </div>
      </article>
    </li>
  </ul>
</div>